@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* Global smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-900 transition-colors;

}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/inter-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/inter-latin-800-normal.woff2") format("woff2");
}



/* Optional: set Inter as the default */
body {
  font-family: "Inter", system-ui, sans-serif;
}

#footer {
  min-height: 200px; /* adjust to footer content */
}

